.mini-bio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin-bottom: 20px;
    position: relative; /* Allows positioning elements within the container */
    padding-bottom: 50px; /* Add space to accommodate the links at the bottom */
}

.links {
    width: 100%;
    text-align: center;
    position: absolute; /* Position the links at the bottom of the container */
    bottom: 10px; /* Distance from the bottom edge */
    left: 0;
    right: 0;
    padding-top: 10px;
}

.links a {
    display: block;
    text-decoration: none;
    color: #aaa;
    font-size: 14px;
    margin: 0 auto 10px;
}

.links a:hover {
    text-decoration: underline;
    color: #ddd;
}

@media (min-width: 768px) {
    .mini-bio-container {
        flex-direction: row;
        align-items: start;
        padding-bottom: 0; /* Reset padding for larger screens */
    }

    .links {
        position: static; /* Revert to normal flow for larger screens */
        padding-top: 10px;
    }

    .mini-profile-img {
        margin-right: 20px;
    }

    .mini-bio-container div {
        width: 80%;
    }
}
