.mini-bio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin-bottom: 20px;
    width: 100%;
}

.mini-bio-container > div {
    width: 100%;
    margin-bottom: 10px; /* Adds spacing between text content and links */
}

.links {
    width: 100%;
    text-align: center;
    margin-top: 10px; /* Adds spacing above links */
}

.links a {
    display: block;
    text-decoration: none;
    color: #aaa;
    font-size: 14px;
    margin: 5px 0; /* Adds spacing between links */
}

.links a:hover {
    text-decoration: underline;
    color: #ddd;
}

@media (min-width: 768px) {
    .mini-bio-container {
        flex-direction: row;
        align-items: flex-start;
    }

    .mini-profile-img {
        margin-right: 20px;
    }

    .mini-bio-container > div {
        width: 80%;
    }

    .links {
        margin-top: 0; /* Reset margin for larger screens */
    }
}
